.spotifyRedirect {
    background-color: #ECECEC;
    padding-top: 6px;
    border-top: solid #D3D3D3 1px;
    padding-bottom: 6px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.graytext {
    color: #808080
}
.albumName {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
}

.specificArtistName {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 28px;
    letter-spacing: 1px;
}
.nomargin { margin-bottom: 0; }

a {
    text-decoration: none;
    color: gray;
}
a:hover {
    color: gray;
}