@import "./components/home.css";
@import "./components//Header/header.css";
@import "./components/ArtistSearch/artistsearch.css";
@import "./components/SpecificArtistPage/specificartistpage.css";

input:focus {
    outline: none;
}
::placeholder {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    color: #131313 !important;
 }
 
 /* or, for legacy browsers */
 
 ::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }